body
  font-family: $font-base
  font-size: $font-size-base
  color: $color-text-base
  height: 100%
a
  text-decoration: none
textarea
  resize: none

.main
  margin: 0 auto
  max-width: 1156px
  padding: 0 10px
.content-block
  padding: 60px 0

//Titles
.main-title
  font-size: 28px
  line-height: 32px
  text-transform: uppercase
  color: $color-base
  font-family: $verdana
  font-weight: 400
  margin-bottom: 50px
.sub-title
  font-size: 24px
  line-height: 28px
  color: #ffffff
  text-transform: uppercase
  text-align: center
  font-family: $verdana
  font-weight: 400
  text-shadow: 1px 1px 2px rgba(51, 51, 51, 1)

//Main-item
.wm-main-item
  display: block
  width: 100%
  max-width: 372px
  min-width: 300px
.wm-main-item__image
  height: 100%
  max-height: 200px
  background-color: #eeeeee
  +transition(background-color 0.3s linear)
  img
    width: 100%
    height: 100%
.wm-main-item__info
  padding: 10px
  background-color: #eeeeee
  +transition(background-color 0.3s linear)
.wm-main-item__name
  font-size: 16px
  color: $color-base
  margin-bottom: 2px
.wm-main-item__size
  color: #999999
  margin-bottom: 4px
.wm-main-item__price
  font-size: 18px
  color: $main-color-theme
  font-weight: 700
.wm-main-item:hover
  .wm-main-item__info
    background-color: #cce1ba
  .wm-main-item-name
    text-decoration: underline
  .wm-main-item__image
    background-color: #cce1ba

//Button's & Input's custom styles
.main-btn
  display: inline-block
  padding: 8px
  background-color: $main-color-theme
  text-transform: uppercase
  color: #ffffff
  font-size: 12px
  font-weight: 700
  border: 3px solid $main-color-theme
  +border-radius(5px)
  +transition(0.2s linear)
  &:hover
    background-color: #ffffff
    color: $main-color-theme
.sub-main
  display: inline-block
  padding: 13px 10px
  border: 3px solid #ffffff
  background-color: transparent
  text-transform: uppercase
  color: #ffffff
  +border-radius(5px)
  +transition(0.2s linear)
  &:hover
    background-color: #ffffff
    color: $main-color-theme
.under-btn
  background-color: transparent
  text-decoration: underline
  color: $main-color-theme
  text-transform: uppercase
  font-weight: 700
  &:hover
    text-decoration: none
.main-input
  background-color: #ffffff
  padding: 15px 10px
  font-size: 14px
  color: #999999
  box-sizing: border-box
  +border-radius(5px)
//Checkbox-toggle
.checkbox
  vertical-align: top
  margin: 0 3px 0 0
  width: 17px
  height: 17px
.checkbox + label
  cursor: pointer
.checkbox:not(checked)
  position: absolute
  opacity: 0
.checkbox:not(checked) + label
  position: relative
  padding: 0 0 0 40px
.checkbox:not(checked) + label:before
  content: ''
  position: absolute
  top: 2px
  left: 2px
  width: 30px
  height: 15px
  border-radius: 13px
  background: #CDD1DA
.checkbox:not(checked) + label:after
  content: ''
  position: absolute
  top: 2px
  left: 2px
  width: 15px
  height: 15px
  border-radius: 100%
  background: #b5b5b5
  transition: all .2s
.checkbox:checked + label:after
  background: #009227
.checkbox:checked + label:after
  left: 17px
  
//----- Header -----
//Header-top
.wm-header__top
  border-bottom: 1px solid #e5e5e5
.wm-top__block
  +flexbox
  +flex-wrap(wrap)
.wm-block__logo
  +flex(1 1 200px)
  min-width: 249px
.wm-logo
  margin: 20px 0 
.wm-block__buttons
  +flex(1 1 200px)
  min-width: 249px
.wm-buttons
  text-align: center
.wm-block__contact
  +flex(1 1 200px)
  min-width: 250px
.wm-contact
  margin: 20px 0
  text-align: right
.wm-buttons-link
  display: inline-block
  font-size: 12px
  line-height: 16px
  padding: 15px 20px
  background-color: $main-color-theme
  color: #ffffff
  text-transform: uppercase
  font-weight: 700
  margin-bottom: 15px
  +border-bottom-radius(10px)
.wm-buttons-callback
  font-size: 12px
  line-height: 16px
.wm-contact-phone
  display: inline-block
  font-size: 26px
  line-height: 30px
  &::before
    content: ''
    display: inline-block
    width: 20px
    height: 20px
    background: url("../images/phone_icon.png") no-repeat
    margin-right: 10px
.wm-contact-email
  display: inline-block
  line-height: 30px
  &::before
    content: ''
    display: inline-block
    width: 20px
    height: 20px
    background: url("../images/mail_icon.png") no-repeat
    margin-right: 10px
    position: relative
    top: 6px
.wm-navigation
  text-align: center
  margin-bottom: 15px
  ul
    +clearfix
  li
    display: inline-block
    padding: 0 20px
    border-right: 1px solid $color-base
  li:last-child
    border-right: none
.wm-navigation__link
  display: inline-block
  color: $color-base
  padding: 3px 20px
  font-size: 14px
  line-height: 14px
  text-transform: uppercase
  +border-radius(5px)
  &:hover
    color: #ffffff
    background-color: $main-color-theme

//Header-bot
.wm-header__bot
  background: url("../images/bg-green.png") no-repeat
  background-size: cover
  border-top: 1px solid $main-color-theme
  border-bottom: 1px solid $main-color-theme
.wm-bot
  +flexbox
  +flex-wrap(wrap)
.wm-bot__block-category
  +flex(1 1 250px)
.wm-block-category
  display: block
  text-align: center
  font-size: 12px
  line-height: 14px
  color: #ffffff
  font-family: $verdana
  margin: 10px 0
.wm-block-category__image
  margin-bottom: 15px
.wm-block-category__title
  text-transform: uppercase
  font-weight: 700
//----- End Header ------

//----- Popular-projects -----
.wm-popular-projects__title-wrap
  +clearfix
.wm-popular-projects__title
  float: left
.wm-popular-projects__link
  float: right
  line-height: 32px
.wm-popular-projects-block
  +flexbox
  +flex-wrap(wrap)
.wm-popular-projects-block__item
  margin: 0 10px 20px 10px
  +flex(1 1 300px)
//----- End Popular-projects -----

//----- Consulting -----
.wm-consulting
  background: url("../images/bg1.png") no-repeat center
  background-size: cover
.wm-consulting__title
  margin-bottom: 60px
.wm-consulting-form
  text-align: center
.wm-consulting-form__input
  width: 275px
  margin-right: 20px
.wm-consulting-form__btn
  padding: 13px 26px
//----- End Consulting -----

//----- Why-us -----
.wm-why-us-block
  +flexbox
  +flex-wrap(wrap)
.wm-why-us-block__column
  +flex(1 1 230px)
.wm-why-us-block-item
  margin-bottom: 50px
.wm-why-us-block-item__image
  width: 174px
  height: 174px
  margin: 0 auto 20px
  background-color: #e5e5e5
  +border-radius(50%)
  +flexbox
  +justify-content(center)
  +align-items(center)
.wm-why-us-block-item__title
  margin: 0 auto
  text-align: center
  font-size: 12px
  line-height: 18px
  color: $color-base
  font-weight: 700
  text-transform: uppercase
  max-width: 274px
//----- End Why-us -----

//----- Details -----
.wm-details
  background: url("../images/bg2.png") no-repeat center
  background-size: cover
.wm-details-block
  +flexbox
  +flex-wrap(wrap)
.wm-details-block__item
  +flex(1 1 380px)
  margin: 0 20px
.wm-details-block-item
  background-color: #ffffff
  padding: 20px
  margin: 15px 0 30px 15px
  position: relative
  &::before
    content: ''
    position: absolute
    top: -15px
    left: 0
    border-top: 15px solid $main-color-theme
    width: calc(100% - 20px)
  &::after
    content: ''
    position: absolute
    top: -15px
    left: -15px
    border-left: 15px solid $main-color-theme
    height: calc(100% - 5px)
.wm-details-block-item__title
  font-size: 24px
  line-height: 32px
  text-transform: uppercase
  margin-bottom: 20px
.wm-details-block-item__text
  text-align: justify
.wm-details-block-item__btn
  text-align: right
  margin-top: 20px
.wm-details__info
  text-align: center
  font-size: 20px
  line-height: 32px
  color: #ffffff
  text-shadow: 3px 3px 2px rgba(51, 51, 51, 1)
.wm-phone
  font-weight: 700
.wm-phone__large
  font-size: 28px
//----- End Details -----

//----- Seo -----
.wm-seo
  .main
    max-width: 960px
.wm-seo-wrap__video
  margin-bottom: 60px
  iframe
    max-height: 540px
.wm-seo-info__title
  font-size: 22px
  line-height: 26px
  text-transform: uppercase
  color: $color-base
  font-family: $verdana
  margin-bottom: 20px
  font-weight: 400
.wm-seo-info__text
  line-height: 18px
  text-align: justify
.wm-seo-info__btn
  margin-top: 30px
  text-align: center
//----- End Seo -----

//----- Question -----
.wm-question
  background: url("../images/bg-green.png") no-repeat
  background-size: cover
.wm-question-block
  +flexbox
  +flex-wrap(wrap)
.wm-question-block__photo
  +flex(1 1 274px)
  max-width: 300px
.wm-question-block__info
  +flex(3 1 300px)
.wm-question-block-photo
  text-align: center
  margin: 0 30px
.wm-question-info
  margin-top: 20px
.wm-question-photo__image
  margin-bottom: 15px
.wm-question-photo__phone
  font-size: 20px
  line-height: 32px
  color: #ffffff
  text-shadow: 1px 1px 2px rgba(51, 51, 51, 1)
.wm-question-info__title
  text-align: left
.wm-question-info__sub-title
  font-size: 20px
  line-height: 28px
  color: #ffffff
  font-family: $verdana
  margin-bottom: 30px
  text-shadow: 1px 1px 2px rgba(51, 51, 51, 1)
.wm-question-info-form-input
  max-width: 274px
  min-width: 235px
  margin-right: 20px
.wm-question-info-form__dispatch
  color: #ffffff
  text-align: right
  text-shadow: 1px 1px 2px rgba(51, 51, 51, 1)
//----- End Question -----

//----- Footer -----
.wm-footer
  background: url("../images/uzor_footer.png") no-repeat center
  background-size: cover
  padding: 40px 0 30px
.wm-footer-block
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.wm-footer-block__right
  +order(2)
.wm-footer-block__left
  +order(1)
.wm-footer-right
  +clearfix
  +flexbox
  // +flex-wrap(wrap)
.wm-footer-right__column
  +clearfix
.wm-footer-agreement
  display: block
  font-size: 12px
  line-height: 16px
  color: $color-base
  text-align: center
  text-decoration: underline
  width: 105px
  &:hover
    text-decoration: none
.wm-footer-navigation__link
  font-size: 12px
  line-height: 18px
  color: $color-base
  text-transform: uppercase
  &:hover
    color: $main-color-theme
.wm-footer-right__column
  margin-bottom: 15px
.wm-footer-right__navigation
  max-width: 300px
  width: 100%
  margin-left: 40px
.wm-footer-navigation
  float: left
.wm-footer-navigation--left
  margin-right: 40px
.wm-footer-block__left
  color: $color-base
.wm-footer-block-info
  font-size: 12px
  line-height: 18px
  margin-bottom: 40px
.wm-footer-block-copyright
  font-size: 10px
  line-height: 12px
//----- End Footer -----

//----- Gategory Page -----
//Bread-crumb
.wm-bread-crumb
  padding: 20px 0 0
.wm-bread-crumb-block
  background-color: #eeeeee
  padding: 15px 10px
  line-height: 18px
.wm-bread-crumb-block__link
  color: $color-base
  margin-right: 5px
  &:hover
    color: $main-color-theme
.wm-bread-crumb-block__triangle
  color: #c9c9c9
  font-size: 12px
  margin-right: 5px

//Description
.wm-description
  padding: 60px 0 20px
.wm-description__sub-title
  font-size: 16px
  line-height: 20px
  color: $color-base
  text-transform: uppercase
  font-family: $verdana
  margin-bottom: 10px
.wm-description__text
  color: $color-base
  font-family: $verdana

//Filter
.wm-filter
  padding: 20px 0 30px
  .main-btn
    text-align: center
    cursor: pointer
    background-color: #ffffff
    color: $main-color-theme
    padding: 5px 12px
    text-transform: lowercase
    +border-radius(5px)
    &:hover
      background-color: $main-color-theme
      color: #ffffff
.wm-filter-block
  margin-bottom: 20px
  +flexbox
  +flex-wrap(wrap)
.wm-filter-block__item
  margin-right: 20px
  min-width: 300px
.wm-filter-block__item:last-child
  margin-right: 0
.wm-filter-item--size
  +flex(1 1 300px)
  .main-btn
    padding: 5px 0
    width: 60px
.wm-filter-item--price
  +flex(3 1 300px)
  .main-btn
    padding: 5px 0
    width: 110px
.wm-filter-item--square
  min-width: 350px
  +flex(3 1 300px)
  .main-btn
    padding: 5px 0
    width: 110px
.wm-filter-item__title
  color: $color-base
  text-transform: uppercase
  font-family: $verdana
  font-weight: 700
  margin-bottom: 10px
.wm-filter-radio-block
  +clearfix
  li
    float: left
  li:last-child
    .main-btn
      margin-right: 0
.wm-filter-radio-block__input
  display: none
.wm-filter-radio-block__input + label
  margin-right: 18px
.wm-filter-radio-block__input:checked + label
  background-color: $main-color-theme
  color: #ffffff
.wm-sorting-block
  line-height: 20px
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.wm-sorting-radio-block__text
  display: inline-block
  color: $color-base
  text-transform: uppercase
  font-family: $verdana
  font-weight: 700
.wm-sorting-radio-block__input
  display: inline-block
  margin-left: 5px
.wm-sorting__input
  display: none
.wm-sorting__input + label
  display: inline-block
  color: #c9c9c9
  font-size: 17px
  margin-right: 2px
  cursor: pointer
.wm-sorting__input + label:hover
  color: $main-color-theme
.wm-sorting__input:checked + label
  color: $main-color-theme
.wm-sorting-results-block
  color: #999999
.wm-category-projects
  padding: 20px 0 30px

//Projects
.wm-category-projects-block
  +flexbox
  +flex-direction(column)
.wm-category-projects-block__item
  +flexbox
  +flex-wrap(wrap)
  +justify-content(space-between)
.wm-category-projects-item
  margin: 0 10px 20px 10px
  +flex(1 1 300px)
.wm-category-projects__more
  margin-top: 20px
.wm-category-projects-more
  margin: 0 auto
  width: 117px
  height: 106px
  position: relative
  cursor: pointer
  &:hover
    .wm-category-projects-more__image
      +transform(rotate(180deg))
  .wm-category-projects-more__image
    +transition(0.5s linear)
.wm-category-projects-more__text
  width: 70px
  position: absolute
  top: 50%
  margin-top: -16px
  left: 50%
  margin-left: -35px
  color: $main-color-theme
  text-transform: uppercase
  text-align: center

//Banner
.wm-banner
  padding: 30px 0 0
  img
    width: 100%
    height: 100%
//----- End Gategory Page -----

//----- Card_item Page -----
.wm-description_card
  padding: 60px 0 30px
.wm-description_card__title
  text-align: center
.wm-description_card-block
  +clearfix
.wm-description_card-block__item
  float: left
  width: 50%
.lSSlideOuter .lSPager.lSGallery
  width: 100% !important
  height: 100%
  li
    float: none
    display: inline-block
    width: calc(25% - 3px) !important
.wm-description_card-slider__item
  img
    width: 100%
    height: 100%
.wm-description_card-sizes
  padding-left: 20px
.wm-description_card-sizes__title
  font-size: 16px
  line-height: 20px
  font-family: $verdana
  color: $color-base
  text-transform: uppercase
  margin-bottom: 20px
.wm-description_card-sizes-block
  font-size: 16px
  margin-bottom: 60px
  +flexbox
  +flex-wrap(wrap)
.wm-description_card-sizes-block__item
  box-sizing: border-box
  +flex(1 1 264px)
.wm-description_card-sizes-block__item:first-child
  border-right: 2px solid #c9c9c9
  padding-right: 13px
.wm-description_card-sizes-block__item:last-child
  padding-left: 15px
.wm-description_card-sizes-block-info
  margin-right: 13px
  td
    padding-bottom: 15px
  tr:last-child td
    padding-bottom: 0
.wm-description_card-sizes-block-price__text, .wm-description_card-sizes-block-info__text
  color: $color-base
.wm-description_card-sizes-block-info__numbers
  font-weight: 700
  text-align: right
  color: $color-base
.wm-description_card-sizes-block-price__numbers
  font-weight: 700
  text-align: right
  color: $main-color-theme
.wm-description_card-sizes-block-price
  td
    padding-bottom: 15px
.wm-description_card-sizes__btn
  text-align: center
  .main-btn
    padding: 12px 32px

//Equipment
.wm-equipment
  padding: 30px 0 60px
.wm-equipment__title
  font-size: 16px
  line-height: 20px
  font-family: $verdana
  color: $color-base
  text-transform: uppercase
  margin-bottom: 20px
.wm-equipment-block
  +flexbox
  +flex-wrap(wrap)
.wm-equipment-block__form
  margin-right: 20px
  +flex(2)
.wm-equipment-form__row
  line-height: 48px
  border-bottom: 1px dotted #c9c9c9
  +flexbox
  +flex-wrap(wrap)
.wm-equipment-form__row:last-child
  border-bottom: 0
.wm-equipment-form-row__text
  font-size: 16px
  font-family: $verdana
  +flex(1)
.wm-equipment-form-row__choose
  text-align: right
  color: $color-base
  font-family: $verdana
  +flex(2)
.wm-equipment-choose__select
  border: 1px solid #c9c9c9
  padding: 6px 10px
  color: $color-base
  box-sizing: border-box
  +border-radius(3px)
.wm-equipment-choose-select--profile
  width: 275px
.wm-equipment-choose-select--walls, .wm-equipment-choose-select--inside
  width: 375px
.wm-equipment-choose-select--binding
  width: 275px
  margin-left: 10px
.wm-equipment-block__price
  +flex(1)
.wm-equipment-price__summary
  font-family: $verdana
  text-align: right
  margin-bottom: 35px
.wm-equipment-price-summary__text
  font-size: 16px
  line-height: 20px
.wm-equipment-price-summary__number
  font-size: 28px
  line-height: 30px
  color: $main-color-theme
.wm-equipment-price__btn
  text-align: right
  .main-btn
    padding: 12px 32px
    +border-radius(5px)

//Advantages
.wm-advantages
  padding-bottom: 10px
  background: url(../images/bg2.png) no-repeat center
  background-size: cover
.wm-advantages__title
  margin-bottom: 50px
.wm-advantages-block
  +flexbox
  +flex-wrap(wrap)
.wm-advantages-block__item
  +flex(1)
  .wm-why-us-block-item__title
    color: #ffffff
    text-transform: uppercase

//Interest
.wm-interest-block
  +flexbox
  +flex-wrap(wrap)
.wm-interest-bloc__item
  margin-bottom: 20px
  +flex(1 1 300px)
  .wm-main-item
    margin: 0 auto
//----- End Card_item Page -----

//----- Price Page -----
.wm-price
  padding: 60px 0 0
  .main
    max-width: 800px
.wm-price-block__title
  color: $color-base
  font-family: $verdana
.wm-price-calculator
  color: $color-base
  font-family: $verdana
  margin-bottom: 20px
  +flexbox
  +flex-direction(column)
.wm-price-row
  padding: 10px 0
  line-height: 30px
  border-bottom: 1px dotted #c9c9c9
  +flexbox
  +flex-wrap(wrap)
  &:last-child
    border-bottom: none
  &:nth-child(3)
    line-height: 25px
.wm-price-row__name
  +flex(1 1 366px)
.wm-price-row__select-wrap
  text-align: right
  +flex(1 1 365px)
.wm-price-input
  max-width: 274px
  width: 100%
  border: 1px solid #c9c9c9
  padding: 5px 10px
  color: $color-base
  font-family: $verdana
  box-sizing: border-box
  +border-radius(5px)
.wm-price-input--width
  max-width: 75px
.wm-price-btn-wrap
  text-align: center
.wm-price-btn
  width: 100%
  max-width: 274px
//----- End Price Page -----

//----- About Page -----
//About
.wm-about
  padding: 60px 0 0
.wm-about-block
  margin-bottom: 40px
  +flexbox
  +flex-wrap(wrap)
.wm-about-block__image
  margin-right: 20px
  +flex(1)
  img
    width: 100%
.wm-about-block__info
  +flex(2)
.wm-about-block--second
  .wm-about-block__info
    +order(1)
  .wm-about-block__image
    margin-right: 0
    margin-left: 20px
    +order(2)
.wm-about-info__title
  font-size: 22px
  line-height: 26px
  color: $color-base
  text-transform: uppercase
  font-family: $verdana
  font-weight: 400
  margin: 40px 0
.wm-about-info__text
  font-size: 16px
  line-height: 20px
  color: $color-text-base
  text-align: justify
.wm-about-info__list
  ul
    list-style: disc
    li
      margin: 0 0 20px 20px
      padding-left: 10px

//Numbers
.wm-numbers
  padding: 20px 0 30px
.wm-numbers__title
  text-align: center
.wm-numbers-block
  +flexbox
  +flex-wrap(wrap)
.wm-numbers-block__item
  +flex(1)
  &:first-child
    .wm-numbers-circle__image
      margin-bottom: 3px
.wm-numbers-circle
  width: 174px
  height: 174px
  background-color: #e5e5e5
  margin: 0 auto 20px
  text-align: center
  +flexbox
  +flex-direction(column)
  +justify-content(center)
  +border-radius(50%)
.wm-numbers-circle__image
  margin-bottom: 15px
.wm-numbers-circle__text
  font-size: 36px
  line-height: 38px
  color: $main-color-theme
  font-weight: 700
.wm-numbers-item__title
  text-align: center
  font-weight: 700
  text-transform: uppercase
  color: $color-base

//Slider
.wm-slider
  padding: 30px 0 0
  .lSSlideOuter .lSPager.lSpg > li a
    background-color: #999999
  .lSSlideOuter .lSPager.lSpg > li:hover a, .lSSlideOuter .lSPager.lSpg > li.active a
    background-color: $main-color-theme
    width: 15px
    height: 15px
  .lSSlideOuter .lSPager.lSpg > li.active, .lSSlideOuter .lSPager.lSpg > li:hover
    line-height: 11px
    vertical-align: middle
  .lSSlideOuter .lSPager.lSpg
    line-height: 30px
//----- End About Page -----

//----- Blog Page -----
.wm-blog__title-wrap, .wm-pager-wrap
  +clearfix
.wm-blog-title
  float: left
.wm-pager
  float: right
  line-height: 33px
.wm-pager__link
  font-size: 18px
  font-family: $verdana
  color: $color-base
  margin: 0 10px
  display: inline-block
  &:hover
    background-color: green
    color: #fff
    border-radius: 50%
    padding: 0 10px
    margin: 0
.wm-pager-link--active
  background-color: green
  color: #fff
  border-radius: 50%
  padding: 0 10px
  margin: 0
.wm-blog-article
  margin-bottom: 60px
  +flexbox
  +flex-wrap(wrap)
.wm-blog-article__image
  margin-right: 20px
  min-width: 274px
  +flex(1)
  img
    width: 100%
.wm-blog-article__info
  +flex(3)
.wm-blog-article-info
  color: $color-base
.wm-blog-article-info__title
  font-size: 16px
  line-height: 18px
  text-transform: uppercase
  margin-bottom: 10px
  font-weight: 400
.wm-blog-article-info__date
  margin-bottom: 15px
.wm-blog-article-info__text
  max-height: 146px
  overflow: hidden
  text-align: justify
.wm-blog-article-info__btn
  margin-top: 5%
  text-align: right
//----- End Blog Page -----

//----- End Blog_article Page -----
.wm-article__title
  margin-bottom: 40px
.wm-article-block
  max-width: 960px
  margin: 30px auto 40px
.wm-article-block__image
  text-align: center
  margin-bottom: 25px
.wm-article-pager
  text-align: center
  line-height: 50px
.wm-article-pager__text
  display: inline-block
  font-size: 18px
  color: #999999
  text-transform: uppercase
  margin: 0 40px
  position: relative
  top: -10px
.wm-article-pager__link
  color: $main-color-theme
  font-size: 50px
  display: inline
//----- End Blog_article Page -----

//----- Our_projects Page -----
.wm-our_works-block__title
  font-size: 22px
  line-height: 26px
  font-family: $verdana
  text-transform: uppercase
  margin-bottom: 30px
  font-weight: 400
  color: $color-base
.wm-our_works__block
  margin-bottom: 50px
.wm-our_works-images
  +flexbox
  +flex-wrap(wrap)
.wm-our_works-images__item
  margin: 10px
  +flex(1 1 274px)
  img
    width: 100%
    height: 100%
//----- End Our_projects Page -----

//----- Reviews Page -----
.wm-reviews__title-wrap
  +clearfix
.wm-reviews-title
  float: left
.wm-reviews-item
  padding-bottom: 30px
  margin-bottom: 30px
  border-bottom: 2px solid #c9c9c9
  +flexbox
  +flex-wrap(wrap)
.wm-reviews-item__client
  +flex(1)
.wm-reviews-item__info
  +flex(5)
.wm-reviews-client
  text-align: center
  color: $color-base
  margin: 0 20px 20px 0
.wm-reviews-client__image
  margin: 0 auto 20px
  width: 176px
  height: 176px
  +border-radius(50%)
.wm-reviews-client__name
  font-size: 16px
  line-height: 18px
  margin-bottom: 5px
.wm-reviews-info__text
  line-height: 18px
  text-align: justify
  color: $color-base
  margin-bottom: 20px
.wm-reviews-info__photo-block
  text-align: center
  img
    margin: 0 10px
    width: 176px
    height: 133px
.wm-reviews_form
  padding: 0 0 60px
.wm-reviews_form-block
  +flexbox
  +flex-wrap(wrap)
.wm-reviews_form-block__photo
  text-align: center
  +flex(1)
.wm-reviews_form-block__inputs
  +flex(5)
.wm-reviews_form-input, .wm-reviews_form__textarea
  border: 1px solid #c9c9c9
  background-color: transparent
  padding: 15px
  color: $color-base
  box-sizing: border-box
  width: 100%
  margin-bottom: 20px
  +border-radius(5px)
.wm-reviews_form__textarea
  height: 114px
.wm-reviews_form-block-inputs
  +flexbox
  +flex-wrap(wrap)
.wm-reviews_form-block-inputs__info
  margin-right: 20px
  +flex(1)
.wm-reviews_form-block-inputs__review
  +flex(2)
.wm-reviews_form__btn
  text-align: right
//----- End Reviews Page -----

//----- Contacts Page -----
.wm-contacts-block
  margin-bottom: 40px
  +flexbox
  +flex-wrap(wrap)
.wm-contacts-block__item
  +flex(1)
.wm-contacts-item__title
  font-size: 22px
  line-height: 26px
  font-family: $verdana
  text-transform: uppercase
  margin-bottom: 30px
  font-weight: 400
  color: $color-base
.wm-contacts-item__address
  font-size: 16px
  line-height: 18px
  margin-bottom: 10px
.wm-contacts-item__phone
  font-size: 16px
  line-height: 18px
.wm-contacts-map
  padding: 20px
  position: relative
.wm-contacts-map__top
  width: 325px
  line-height: 85px
  font-size: 16px
  color: #fff
  background-color: $main-color-theme
  text-align: center
.wm-contacts-map__top
  position: absolute
  top: 0
  left: 0
  z-index: 100
.wm-contacts-map__iframe
  position: relative
  &::before
    content: ''
    position: absolute
    bottom: 0
    right: -20px
    height: 35%
    border-right: 20px solid $main-color-theme
  &::after
    content: ''
    position: absolute
    bottom: -18px
    right: -20px
    width: 35%
    border-bottom: 20px solid $main-color-theme
//----- End Contacts Page -----

//----- Media -----
@media all and (min-width: 320px) and (max-width: 425px)
  .content-block
    padding: 20px 0
  .main-title
    margin-bottom: 30px
    text-align: center
  .wm-main-item
    margin: 0 auto 10px
  //Header
  .wm-logo
    text-align: center
    margin: 10px 0
  .wm-buttons
    text-align: center
    margin: 10px 0
  .wm-contact
    text-align: center
    margin: 10px 0
  .wm-navigation
    margin: 10px 0
    li
      display: block
      float: none
      text-align: center
      border-right: none
  //Popular
  .wm-popular-projects-block__item
    margin: 0
  //Consulting
  .wm-consulting__title
    margin-bottom: 30px
  .wm-consulting-form__input
    margin-right: 0
    margin-bottom: 20px
  //Why-us
  .wm-why-us-block-item
    margin-bottom: 25px
  .wm-why-us-block-item__image
    margin-bottom: 10px
  //Details
  .wm-details__info .wm-phone__large
    font-size: 24px
  .wm-details-block__item
    margin: 0
  .wm-details-block-item__text
    font-size: 12px
    line-height: 16px
  .wm-details-block-item__title
    font-size: 20px
    line-height: 24px
  //Seo
  .wm-seo-wrap__video
    margin-bottom: 20px
    iframe
      max-height: 170px
  //Question
  .wm-question-info__title
    text-align: center
  .wm-question-block-photo
    margin-bottom: 15px
  .wm-question-photo__image
    margin-bottom: 5px
  .wm-question-info__title
    margin-bottom: 10px
  .wm-question-info__sub-title
    margin-bottom: 10px
    text-align: center
  .wm-question-info-form__inputs
    text-align: center
  .wm-question-info-form-input
    margin: 0 auto 10px
  .wm-question-info-form-btn
    margin-bottom: 10px
  .wm-question-info-form__dispatch
    text-align: center
  //Category
  .wm-category-projects-item
    margin: 0
  //Footer
  .wm-footer
    padding: 30px 0 20px
  .wm-footer-block-info
    margin-bottom: 30px
  .wm-footer-block-info
    text-align: center
  .wm-footer-right
    display: block
  .wm-footer-block__left
    +order(2)
  .wm-footer-agreement
    margin: 0 auto
  .wm-footer-block
    display: block
  .wm-footer-right__navigation
    margin-left: 0
  //Filter
  .wm-filter-block__item
    text-align: center
    margin-bottom: 20px
    min-width: 300px
    li
      float: none
      display: inline-block
  .wm-filter-item--price
    .main-btn
      width: 90px
      margin-right: 0
  .wm-filter-item--square
    .main-btn
      width: 90px
      margin-right: 0
  .wm-filter-item--size
    .main-btn
      width: 55px
      margin-right: 10px
  //Description
  .wm-description_card-block__item
    float: none
    width: 100%
    margin-bottom: 10px
  .wm-description_card-sizes
    padding-left: 0
  .wm-description_card-sizes-block
    font-size: 14px
  .wm-description_card-sizes-block__item
    +flex(1 1 240px)
  .wm-description_card-sizes-block__item:first-child
    border-color: transparent
    margin-bottom: 10px
  .wm-description_card-sizes-block__item:last-child
    padding-left: 0
    padding-right: 15px
  .wm-price-row__name, .wm-price-row__select-wrap
    text-align: center
  .wm-price-row__name
    margin-bottom: 5px
@media all and (min-width: 426px) and (max-width: 767px)
  .wm-navigation
    li
      padding: 0 5px
  .wm-navigation__link
    padding: 3px 5px
  .wm-contact,.wm-logo
    text-align: center
  .wm-main-item
    margin: 0 auto
  .wm-consulting-form__input
    display: block
    margin: 0 auto 20px
  .wm-why-us-block-item
    margin-bottom: 30px
  .wm-details-block__item
    margin: 0
  .wm-question-info, .wm-question-info__title
    text-align: center
  .wm-question-info-form-input
    min-width: 274px
    display: block
    margin: 0 auto 20px
  .wm-question-info-form__inputs
    text-align: center
  .wm-question-block__photo
    margin: 0 auto
  .wm-footer-block
    display: block
  .wm-footer-block__right
    +order(1)
  .wm-footer-block__left
    +order(2)
  .wm-footer-right
    +justify-content(center)
  .wm-footer-block-info
    text-align: center
  .wm-footer-right__navigation
    margin-left: 20px
  .wm-footer-navigation--left
    margin-right: 20px
  .wm-filter-block__item
    text-align: left
    margin-bottom: 20px
    min-width: 350px
    li
      float: none
      display: inline-block
  .wm-filter-item--price
    .main-btn
      width: 90px
      margin-right: 10px
  .wm-filter-item--square
    .main-btn
      width: 90px
  .wm-filter-item--size
    .main-btn
      width: 60px
      margin-right: 10px
  .wm-description_card-block__item
    float: none
    width: 100%
    margin-bottom: 10px
  .wm-description_card-sizes
    padding-left: 0
  .wm-description_card-sizes-block
    font-size: 14px
  .wm-description_card-sizes-block__item
    +flex(1 1 240px)
  .wm-price-row__name, .wm-price-row__select-wrap
    text-align: center
@media all and (min-width: 768px) and (max-width: 1023px)
  .wm-navigation
    li
      padding: 0 10px
  .wm-navigation__link
    padding: 3px 10px
  .wm-main-item
    margin: 0 auto
  .wm-question-info-form-input
    min-width: 274px
    display: block
    margin: 0 auto 20px
  .wm-question-info-form__inputs
    text-align: center
  .wm-filter-block__item
    text-align: center
    margin-bottom: 20px
    li
      float: none
      display: inline-block
  .wm-filter-item--price
    .main-btn
      width: 90px
      margin-right: 10px
  .wm-filter-item--square
    .main-btn
      width: 90px
  .wm-filter-item--size
    .main-btn
      width: 60px
      margin-right: 10px
  .wm-description_card-sizes-block__item:first-child
    border-color: transparent
    margin-bottom: 10px
  .wm-description_card-sizes-block__item:last-child
    padding-left: 0
    padding-right: 15px
@media all and (min-width: 1024px) and (max-width: 1200px)
  .wm-filter-item--price
    .main-btn
      width: 90px
      margin-right: 10px
  .wm-filter-item--square
    .main-btn
      width: 90px
  .wm-filter-item--size
    .main-btn
      width: 60px
      margin-right: 10px

@media all and (min-width: 1024px) and (max-width: 1115px)
  .wm-description_card-sizes-block__item:first-child
    border-color: transparent
    margin-bottom: 10px
  .wm-description_card-sizes-block__item:last-child
    padding-left: 0
    padding-right: 15px
@media all and (min-width: 426px) and (max-width: 499px)
  .wm-description_card-sizes-block__item:first-child
    border-color: transparent
    margin-bottom: 10px
  .wm-description_card-sizes-block__item:last-child
    padding-left: 0
    padding-right: 15px
